<section>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Nome da Loja</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Horário de funcionamento</mat-label>
      <input matInput formControlName="duration" />
    </mat-form-field>

    <div class="fileInputs">
      <div>
        <label for="capa">
          Alterar Capa
          <mat-icon>attach_file</mat-icon>
        </label>
        <input type="file" name="capa" id="capa" formControlName="capa" />
      </div>

      <div>
        <label for="perfil">
          <span>Alterar Foto</span>
          <mat-icon>attach_file</mat-icon>
        </label>
        <input type="file" name="perfil" id="perfil" formControlName="image" />
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="submit()">Enviar</button>
  </form>
</section>
