<mat-toolbar>
  <div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!authenticated" mat-menu-item routerLink="/login">
        <mat-icon>person</mat-icon>
        <span>Login</span>
      </button>
      <button *ngIf="authenticated && show" mat-menu-item routerLink="/admin">
        <mat-icon>person</mat-icon>
        <span>Admin</span>
      </button>
      <button mat-menu-item routerLink="/painel">
        <mat-icon>view_kanban</mat-icon>
        <span>Painel</span>
      </button>
      <button *ngIf="!show" mat-menu-item (click)="logout()">
        <mat-icon>person</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <span class="titulo-page" routerLink="/">{{ name }}</span>
  </div>

  <span class="example-spacer"></span>

  <div>
    <button
      mat-icon-button
      matBadge="{{ contador }}"
      matBadgeOverlap="false"
      matBadgePosition="above after"
      class="example-icon favorite-icon demo-section"
      aria-label="Example icon-button with heart icon"
      (click)="feedback()"
      *ngIf="show"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="social"
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
    <mat-menu #social="matMenu" class="social-menu">
      <app-social-buttons></app-social-buttons>
    </mat-menu>
  </div>
</mat-toolbar>
