<section>
  <h1>Horários de Funcionamento</h1>
  <p>Aberto agora</p>
  <ul>
    <li><span>DOM</span> 18:00 às 23:40</li>
    <li><span>SEG</span> 18:00 às 23:00</li>
    <li><span>TER</span> 18:00 às 23:00</li>
    <li><span>QUA</span> 18:00 às 23:00</li>
    <li><span>QUI</span> 18:00 às 23:00</li>
    <li><span>SEX</span> 18:00 às 23:00</li>
    <li><span>SÁB</span> 18:00 às 23:00</li>
  </ul>
  <div class="toggle-group">
    <h2>Opções de entrega</h2>
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="delivery"><mat-icon>sports_motorsports</mat-icon> Delivery</mat-button-toggle>
      <mat-button-toggle value="retirada"><mat-icon>inventory_2</mat-icon> Retirada</mat-button-toggle>
      <mat-button-toggle value="consumoNoLocal"><mat-icon>restaurant</mat-icon> Consumo no local</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="toggle-group">
    <h2>Formas de Pagamento</h2>
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="dinheiro"><mat-icon>payments</mat-icon> Dinheiro</mat-button-toggle>
      <mat-button-toggle value="cartao"><mat-icon>credit_card</mat-icon> Cartão</mat-button-toggle>
      <mat-button-toggle value="pix"><mat-icon>attach_money</mat-icon> Pix</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</section>
