<section>
  <app-navbar></app-navbar>
  <div>

    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="identifier">
        <form [formGroup]="identifier">
          <ng-template matStepLabel>Identificação</ng-template>
          <div class="container">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <mat-error *ngIf="identifier.get('name')?.errors">Campo obrigatório</mat-error>
              <input matInput placeholder="Informe seu nome" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Compartilhe seu email" formControlName="email">
              <mat-error *ngIf="identifier.get('email')?.errors">Email informado não é valido</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Contato</mat-label>
              <input matInput placeholder="Numero para contato" formControlName="contact" required>
              <mat-error *ngIf="identifier.get('contact')?.errors">Campo obrigatório</mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext [disabled]="!identifier.valid" >Next</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="address" label="Entrega">
        <form [formGroup]="address">
          <div class="container">
            <mat-form-field>
              <mat-label>CEP</mat-label>
              <input
                matInput
                formControlName="cep"
                placeholder="Informe seu CEP"
                required
                (change)="cep($event)"
                >
              <mat-error *ngIf="address.get('cep')?.errors">Campo obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Numero</mat-label>
              <input
                matInput
                formControlName="numHouse"
                placeholder="Numero da casa"
                required
                (change)="getNum($event)"
                >
              <mat-error *ngIf="address.get('numHouse')?.errors">Campo obrigatório</mat-error>
            </mat-form-field>
            <mat-card *ngIf="data">
              <mat-card-content>
                <p>{{data.logradouro}}</p>
                <p>{{data.complemento}}</p>
                <p>{{data.bairro}}</p>
                <p>{{data.localidade}}</p>
                <p>{{data.uf}}</p>
                <p>{{data.cep}}</p>
              </mat-card-content>
            </mat-card>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext (click)="submit()" [disabled]="!address.valid">Next</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Pagamento</ng-template>
        <div class="pagStep">
          <div>
            <div class="cardItem" *ngFor="let item of state">
              <img src={{item.img}} alt="">
              <div class="valors">
                <p>{{item.title}}</p>
                <p>R${{item.price * item.qtd}},00</p>
              </div>
            </div>
            <p>Frete: R${{frete}},00</p>
            <p style="font-weight: bold; font-size: 18px;">Total: R${{total}},00</p>
          </div>
          <mat-divider vertical style="height:100px"></mat-divider>
          <app-pay-google></app-pay-google>
        </div>
      </mat-step>
    </mat-stepper>

  </div>
</section>
