<section>
  <img src="{{pedidos.img}}" alt="{{pedidos.title}}">
  <div class="order">
    <h3>DETALHES</h3>
    <mat-divider></mat-divider>
    <h1>{{pedidos.title}}</h1>
    <span>R$ {{pedidos.price}}</span>
    <p>{{pedidos.description}}</p>

    <mat-form-field class="example-full-width">
      <mat-label>Observações</mat-label>
      <textarea matInput placeholder="Ex. Retirar tomate..."></textarea>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="addCart(pedidos)">
        <mat-icon>shopping_cart</mat-icon>
        Carrinho
      </button>
      <button mat-raised-button color="warn" (click)="imprimir()">
        <mat-icon>check_box</mat-icon>
        Pedir
      </button>
    </div>
    <div *ngIf=""></div>
  </div>
</section>
