section {
  display: flex;
  gap: 1em;
  height: 100%;

  h3 {
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
  }

  p {
    margin-right: 1em;
  }

  order {
    padding: 2em;
  }

  img {
    width: 500px;
  }

  .observations {
    display: flex;
    flex-direction: column;
  }

  .actions {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    margin-right: 1em;
  }
}

@media (width <= 500px) {
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 300px;
      max-height: 200px;
    }
  }
}
