<section>
  <h1 *ngIf="id == 0; else noAdd">Adicionar Lanche</h1>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Insira o nome:</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Insira a descrição:</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Insira o preço:</mat-label>
        <input matInput formControlName="price" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Selecione a Categoria</mat-label>
        <mat-select formControlName="categoria">
          <mat-option *ngFor="let category of categorys" [value]="category.categoria">
            {{category.categoria}}
          </mat-option>
        </mat-select>
      </mat-form-field>

        <!-- <input matInput formControlName="categoria" /> -->
      <div class="input-file">
        <label for="perfil">
          <span>Alterar Foto</span>
          <mat-icon>attach_file</mat-icon>
        </label>
        <input type="file" name="perfil" id="perfil" formControlName="img" (change)="handleImageChange($event)" />
        <div *ngIf="id != 0">
          <img class="preview" src="{{form.value.img}}" alt="{{form.value.title}}">
        </div>
      </div>
      <button *ngIf="id == 0; else noSubmit" mat-raised-button color="primary" (click)="submit()">Adicionar</button>
    </form>
  </section>

  <ng-template #noSubmit>
    <button mat-raised-button color="primary" (click)="update()">Atualizar</button>
  </ng-template>

  <ng-template #noAdd>
    <h1>Editar Lanche</h1>
  </ng-template>
