.editHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2em;

  button {
    padding: 2em;
    background-color: #673ab7;
    color: white;
    border-radius: 10px;
  }
}

.tables {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
  flex-wrap: wrap;

  .botao {
    display: inline-flex;

    button {
      cursor: pointer;
    }
  }

  .example-viewport {
    height: 25rem;
    width: 25rem;
    border: 1px solid black;
    margin-bottom: 1em;
  }

  .example-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    height: 50px;

    span {
      cursor: pointer;
    }

    span:hover {
      color: red;
    }
  }
}
