<app-header></app-header>

<section>
  <form  >
    <div class="inputText">
      <mat-form-field appearance="outline">
        <mat-label>Nome da Loja</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Horário de funcionamento</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div><button mat-raised-button color="primary">Enviar</button></div>

    <div class="inputFile">
      <div>
        <label for="capa">Alterar Capa</label>
        <input type="file" name="capa" id="capa" />
      </div>

      <div>
        <label for="perfil">Alterar Foto</label>
        <input type="file" name="perfil" id="perfil" />
      </div>
    </div>
  </form>
</section>

<section class="tables">
  <div>
    <div class="botao">
      <h3>Categorias</h3>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down_circle</mat-icon>
      </button>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let item of categorys" class="example-item">
        {{ item.categoria }}
        <span (click)="removeCategoria(item.id)"
          ><mat-icon>delete</mat-icon></span
        >
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div>
    <div class="botao">
      <h3>Lanches</h3>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down_circle</mat-icon>
      </button>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let item of pedidos" class="example-item">
        {{ item.title }}
        <span (click)="removeItem(item.id)"><mat-icon>delete</mat-icon></span>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</section>

<app-footer></app-footer>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Adicionar</button>
  <button mat-menu-item>Editar</button>
</mat-menu>
