section {
  display: flex;
  height: 100vh;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .container-form {
      display: flex;
      flex-direction: column;
    }

    .imagem {
      width: 90%;
      height: 40%;
    }
  }

  .left {
    background-color: #673ab7;
  }
}
