section {
  min-height: 65vh;
  margin-top: 1em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 2em;
  width: 100%;
}

.card-item {
  display: flex;
  cursor: pointer;
}

.card-item:hover {
  box-shadow: 15px 10px 11px -6px rgba(1,0,0,0.2);
}

.card-image {
  img {
    width: 150px;
    height: 100px;
    border-radius: 5px;
  }
}
